body{
	padding-top: 50px;
    padding-bottom: 60px;
	color: black;
	font-family: "Tahoma";
	background: linear-gradient(to left, #9D9E9E 90%, #9D9E9E 10% );
	/*background: linear-gradient(to left, #EEEEEE 90%, #EEEEEE 10% );  Standard syntax */
	 /*background: linear-gradient(to left, #F2F2F2 90%, #CEE8F5 10% ); /* Standard syntax */
	opacity: 1.0;
}


.active{
	background-color: #BB8E07;
}

/* applying styling to bars when toggled */
#btnToggle{
	background-color: black;
}

#bar{
	background-color:white;
}


#title{
	text-transform: uppercase;
	letter-spacing: 4px;
	color: white;
	font: bold 20px Courier New;
	direction: rtl;
	line-height: 0.5;
	margin-left: 20px;
	margin-right: 60px;
	background: radial-gradient(ellipse, black 80% , white 20%);
}


#title:hover{
	background: radial-gradient(ellipse, black 80% , white 20%);
	color:#EEEEEE;
	-webkit-filter: hue-rotate(90deg); /* Chrome, Safari, Opera */
    filter: hue-rotate(90deg);
}

#lo{
	font-size: 30px;
	color: white;
}



/* Styling Top Navbar */

#topNav{
  background: linear-gradient(to right, #368AFE 15%, lightgray 20%, #368AFE, #DBDEDA); /* Standard syntax */
}

/* Styling Bottom Navbar */
#botNav{
 
}


/* Styling Items in the navbar */
#itemNav{
	font-family:'Tahoma';
	letter-spacing: 3px;
	font-weight: bolder;
	font-size: 14px;	
}

#itemNav li a{
	color: white;
}

#itemNav li a:hover{
	color: #BB8E07;
	background-color: grey;
}

/* Styling the panel */
#pan{
	margin-top: 70px;
	box-shadow: 0px 5px 0px 5px dimgrey;
}

#pan-body{
	font-weight: bolder; 
	font-size:18px;
	font-family: 'Tahoma';
	overflow: auto;
}

#pan-body1{
	font-weight: bolder; 
	font-size:18px;
	font-family: 'Tahoma';
	height: 370px;
	overflow: auto;
	margin-top: 20px;
}


/* Styling done and Next link */

#done{
	font: bold 20px courier New;
	text-decoration: none;
	color: green;
}

#done:hover{
	color: blue;
}


#next{
	font-weight: bolder;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	background-color: #020D20;
	color: blue;
	color: white;
}

#next:hover{
	color: #BB8E07;
}

#pan h2 b{
	color: blue;
}

#connect{
	background-color: #020D20;
	text-align: center;
}

#connect h3{
	color: #FFFFFF;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 40px;
}


/* Styling footer arrows left and right */

#arrowL{
	 float: left;
	 padding-top: 10px; 
	 padding-bottom: -15px; 
	 padding-left: 5px;  
	 font-size: 30px;
	 font-style: bold; 
	 color: lightgrey;
}

#arrowL:hover{
	 color: #368AFE;
}

#arrowR{
	 float: right;
	 padding-top: 5px; 
	 padding-bottom: -15px; 
	 padding-right: 5px;   
	 font-size: 30px;
	 font-style: bold; 
	 color: black;
}

#arrowR:hover{
	 color: #EDEDED;
}


/*Styling the links in the welcome page */
#display{
	text-decoration: none;
}

#display:hover{
	color: green;
}


#Well{
  margin-top: 50px;
}

/*==================================
 At Media Screen Styling
===================================*/

@media (max-width: 767px){

  /* Styling the panel */
#pan{
	margin-top: 10px;
}

#Well{
  margin-top: 10px;
}

}























